<!-- inject:../components/baseHead/baseHeadStart.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    {{ partial "head.html" . }} {{ partial "head_custom.html" . }}
  </head>

  <body>
    {{ partial "header.html" . }}

    <section
      id="books"
      class="content-list section section--border-bottom rad-animation-group"
    >

      <div class="container-fluid px-4">
        <div class="container mb-5">
          <p class="lead">📚 This is a <strong>list of the books I have found significative</strong> for my personal
          growth, both in the professional and personal life.</p>
          
        <div class="container mb-5">
          <div class="row">
            {{ range (where site.RegularPages "Section" "book").ByTitle }}
              {{ .Render "summary" }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>

    {{ partial "footer.html" . }} {{ partial "base-foot.html" . }}
  </body>
</html>
<!-- endinject -->
